
 <div class="navbar navbar-expand-sm navbar-dark navbar-lewagon fixed-top">
  <div class="nav-left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logotransparent.png" %>
    <% end %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "PRENDRE RDV", href= "https://www.meetlaw.fr/annuaire/membre-Maitre-Thibault-GAMBLIN-1690.htm", target: "_blank", class: "nav-button" %>
      </li>
    </ul>
  </div>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <%= link_to "ACCUEIL", root_path, id:"nav-button-left"%>
       </li>
       <li class="nav-item">
         <%= link_to "MON PARCOURS", profil_path, id:"nav-button-left" %>
       </li>
       <li class="nav-item">
         <%= link_to "MON CABINET", cabinet_path, id:"nav-button-left" %>
       </li>
     </ul>
   </div>
 </div>
