<!DOCTYPE html>
<html>
  <head>
    <title>Avocat à Cherbourg - Maître Gamblin Avocat</title>
    <meta name="description" content="Le cabinet de Me Thibault Gamblin a pour particularité de vous proposer, depuis plusieurs années, des services differenciés dans les différents domaines du Droit.">
    <meta name="google-site-verification" content="fhJnjV6VhBqXe0DgxzOdqu6p6FoG1E5Jc3__ZE9SiRQ" />
    <script type="application/ld+json"> {   "@context": "http://schema.org",   "@type": "LocalBusiness",   "name": "GAMBLIN Avocat",   "image": "https://www.gamblin-avocat.com/assets/logotransparent-af4b0b99038cad7f0624dffa9aa0b58b5e559d863b41c52caefbb74ab1b4e8a4.png",   "telephone": "02 33 78 04 01",   "email": "gamblin.thibault@avocat-conseil.fr",   "address": {     "@type": "PostalAddress",     "streetAddress": "35, Avenue Delaville",     "addressLocality": "CHERBOURG EN COTENTIN",     "postalCode": "50100"   } } </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

   <!-- Balisage JSON-LD généré par l'outil d'aide au balisage de données structurées de Google -->
   <script type="application/ld+json"> {   "@context": "http://schema.org",   "@type": "LocalBusiness",   "name": "GAMBLIN Avocat",   "image": "https://www.gamblin-avocat.com/assets/logotransparent-af4b0b99038cad7f0624dffa9aa0b58b5e559d863b41c52caefbb74ab1b4e8a4.png",   "telephone": "02 33 78 04 01",   "email": "gamblin.thibault@avocat-conseil.fr",   "address": {     "@type": "PostalAddress",     "streetAddress": "35, Avenue Delaville",     "addressLocality": "CHERBOURG EN COTENTIN",     "postalCode": "50100"   } } </script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="content-wrapper"><%= yield %></div>
    <%= render 'shared/footer' %>
  </body>
</html>
